:root {
    --background-header: #da552f;
    --color-text-header: #FFF;
    --new-background-header: #020004;
    --new-color-text-header: #deff1c;
}

header#main-header {
    height: 80px;
    background: var(--new-background-header);
    font-size:22px;
    font-weight: bold;
    color: var(--new-color-text-header);
    display: flex;
    justify-content: center;
    align-items: center;
}