:root {
    --dark: #020004;
    --dark-grey: #34343b;
    --grey: #333;
    --light-gray: #88939d;
    --grizzly: #fafafa;
    --reddish: #da552f;
    --light-red: #7f0b0d;
    --red: #5f0e0c;
    --dark-red: #490f0d;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--grizzly);
    color: var(--grey);
}
